#s-ad660eef-5e86-437b-86ba-b5c481d66d60 > #backgroundBox {
  position: absolute;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_4 {
  position: absolute;
  width: 375.0px;
  min-height: 652.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Image {
  position: absolute;
  width: 25.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Image_7 {
  position: absolute;
  width: 25.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Image_10 {
  position: absolute;
  width: 25.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_2 {
  position: absolute;
  width: 331.0px;
  min-height: 32.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_30.0.0_google',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto_30.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Image_1 .imageViewport > * {
  width: 100.0%;
  height: 139.1304347826087%;
  left: -0.0%;
  top: -0.0%;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Image_1 {
  position: absolute;
  width: 32.0px;
  height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_1 {
  position: absolute;
  width: 375.0000000000001px;
  min-height: 86.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 40.0px;
  border-bottom-left-radius: 40.0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #666666;
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 40.0px;
  border-bottom-left-radius: 40.0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 40.0px;
  border-bottom-left-radius: 40.0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_1 {
  position: absolute;
  width: 21.451171875px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Calibri_0.0.0_system',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Calibri_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Calibri_0.0.0_system',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Calibri_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_3 {
  position: absolute;
  width: 45.7158203125px;
  min-height: 17.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Calibri_0.0.0_system',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Calibri_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_4 {
  position: absolute;
  width: 43.78125px;
  min-height: 17.000000000000455px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Calibri_0.0.0_system',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Calibri_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Image_2 {
  position: absolute;
  width: 31.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Image_3 {
  position: absolute;
  width: 31.0px;
  height: 26.245398773006137px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Image_4 {
  position: absolute;
  width: 31.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Image_5 {
  position: absolute;
  width: 26.4375px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_5 {
  position: absolute;
  width: 50.24945202584172px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Calibri_0.0.0_system',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Calibri_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Calibri_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Image_17 {
  position: absolute;
  width: 36.49999999999977px;
  height: 25.422885572139194px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Image_6 {
  position: absolute;
  width: 15.000000000000227px;
  height: 25.925925925926208px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Image_18 {
  position: absolute;
  width: 15.000000000000227px;
  height: 25.925925925926208px;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_3 {
  position: absolute;
  width: 375.0000000000002px;
  min-height: 583.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_5 {
  position: absolute;
  width: 336.60772499999916px;
  min-height: 578.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_5 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_6 {
  position: absolute;
  width: 187.6562500000001px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: underline;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_1 {
  position: absolute;
  width: 308.93212890624955px;
  min-height: 36.000000000000085px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #217722;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #217722;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #217722;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #217722;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: underline;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_8 {
  position: absolute;
  width: 119.25000000000023px;
  min-height: 23.399999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_9 span#rtr-s-Paragraph_9_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_10 span#rtr-s-Paragraph_10_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_11 {
  position: absolute;
  width: 154.46606445312528px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: right;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_11 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_11 span#rtr-s-Paragraph_11_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_11 span#rtr-s-Paragraph_11_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_11 span#rtr-s-Paragraph_11_3 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_12 {
  position: absolute;
  width: 307.837983203124px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Input_1 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Input_2 {
  position: absolute;
  width: 16.0px;
  height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_2 {
  position: absolute;
  width: 308.93212890624955px;
  min-height: 36.000000000000085px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #434343;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 500;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ad660eef-5e86-437b-86ba-b5c481d66d60 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}